@media (max-width: 768px) {
    .table-responsive table {
      font-size: 12px; 
    }
    // 폰트 크기 줄이기
    .table-responsive thead {
      display: none;
    }
    .table-responsive tbody td {
      display: block;
      text-align: right;
      position: relative;
      padding-left: 50%;
    }
    .table-responsive tbody td:before {
      content: attr(data-label); 
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  }
  
  .card-title {
    font-size: 1.5rem; 
    color: #333; 
  }
  
  .card-subtitle {
    font-size: 1.25rem;
    color: #666; 
  }
  
  ol {
    padding-left: 20px; 
  }
  
  li {
    font-size: 1rem; 
    color: #555; 
  }
  

  /* ExamDetails.css */
.comment-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-text {
  margin: 0;
  flex-grow: 1;
}

.comment-date {
  font-size: 0.8rem;
  color: gray;
  margin-left: 10px;
  white-space: nowrap;
}

.new-comment-alert {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.8rem;
  color: red;
}
