@media (max-width: 768px) {
    .table-responsive table {
      font-size: 12px; 
    }
    // 폰트 크기 줄이기
    .table-responsive thead {
      display: none;
    }
    .table-responsive tbody td {
      display: block;
      text-align: right;
      position: relative;
      padding-left: 50%;
    }
    .table-responsive tbody td:before {
      content: attr(data-label); 
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  }
  
  .card-title {
    font-size: 1.5rem; 
    color: #333; 
  }
  
  .card-subtitle {
    font-size: 1.25rem;
    color: #666; 
  }
  
  ol {
    padding-left: 20px; 
  }
  
  li {
    font-size: 1rem; 
    color: #555; 
  }
  